body
{
    background-color:rgba(169, 169, 169, 0.371);
}
.button
{
    font-family: Snell Roundhand, cursive;
    width: 250px;
    height: 30px;
    background-color: #ffffff;
    color: #000000;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;

}

.chdel
{
    position: fixed;
	top: 30%;
	width: 99%;
	height: 7vh;
    min-height: 48px;
	
	align-self: center;
	align-content:  center;
	background-color: #878787;
	border: 3px solid #000000;  
    border-radius: 10px;
	
}


.frm
{
    margin: 10px 0px 0px 10px;
    text-align: center;
    font-size: 25px;
}

.vvod
{
    border: 0;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
}

